In [16]:
import pandas as pd
import numpy as np

df = pd.DataFrame({"tab1":range(10), "tab2":list("anbcacnbab"), "tab3":range(15,35,2), "tab4":list("lkjlkjlkjo")})
df2 = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'], 'key2' : ['one', 'two', 'one', 'two', 'one'], 'data1' : np.random.randn(5), 'data2' : np.random.randn(5)})
df3 = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],index = list("abc"), columns = list("XYZ"))
df4 = pd.DataFrame({"X":[1,2,3],"Y":[4,5,6],"Z":[7,8,9]}, index = list("abc"))
data = {"X":[1,2,3,7],"Y":[4,5,6,2],"Z":[7,8,9,8]}
df5 = pd.DataFrame(data, index=list("qwew"))
df6 = pd.read_csv("D:/Coding/Data/iris.data", sep=",", names = ["sepal_length","sepal width","petal length","petal width","type"])
df7 = pd.read_csv("D:/Coding/Panda/pydata-book-2nd-edition/examples/tips.csv")

grouped = df["tab1"].groupby([df["tab4"],df["tab2"]])
means = grouped.mean()
print(means.unstack())

x=[]
for name, group in df6.groupby("type"):
    x.append(group)
for tra, group in df2.groupby([df2['key1'],df2['key2']]):
    print(tra)
    print(group)
pieces = dict(list(df2.groupby('key1')))
print(pieces["b"])

tab2    a    b    c    n
tab4
j     8.0  2.0  5.0  NaN
k     4.0  7.0  NaN  1.0
l     0.0  NaN  3.0  6.0
o     NaN  9.0  NaN  NaN
('a', 'one')
      data1     data2 key1 key2
0  0.348808 -0.517399    a  one
4 -0.441283  0.408224    a  one
('a', 'two')
      data1     data2 key1 key2
1  0.986024 -0.364689    a  two
('b', 'one')
      data1     data2 key1 key2
2 -0.438446  1.309034    b  one
('b', 'two')
      data1     data2 key1 key2
3 -1.679671  2.796964    b  two
      data1     data2 key1 key2
2 -0.438446  1.309034    b  one
3 -1.679671  2.796964    b  two

In [11]:
# Simply making the object into list creates tuples of data
pieces = list(df2.groupby('key1'))
print(pieces)
# Tuples converted to dictionary
pieces_2 = dict(list(df2.groupby('key1')))
print(pieces_2)

         data1     data2
key1
a    -0.760231  0.084607
b     0.610103  0.250988

In [12]:
# Note:
# df.groupby('key1')['data1'] = df['data1'].groupby('key1')

In [18]:
# Aggregating using DataFrame and map function
# In which axis=0 along the rows, and axis=1 along the columns
people = pd.DataFrame(np.random.randn(5, 5), columns=['a', 'b', 'c', 'd', 'e'], index=['Joe', 'Steve', 'Wes', 'Jim', 'Travis'])
print(people)
some_dict = {'a':"red", 'b':"red", 'c':"blue", 'd':"blue", 'e':"blue"}
sum_1 = people.groupby(some_dict, axis =1).sum()
print(sum_1)

# Using Series in pandas
series_1 = pd.Series(some_dict)
sum_2 = people.groupby(series_1, axis =1).sum()
print(sum_2)

# Sum using length of indexes
sum_2 = people.groupby(len).sum()
print(sum_2)

               a         b         c         d         e
Joe     0.167419  0.939718  1.212847  1.062673 -1.207907
Steve  -0.938786 -0.464503 -1.158710 -1.014761 -0.237429
Wes    -0.148523  0.366754  1.094164 -0.544626 -1.017392
Jim    -1.161872 -0.312224  0.331594 -1.124097  0.680107
Travis  0.696597 -0.868891  1.974639 -0.620266 -0.071844
            blue       red
Joe     1.067612  1.107137
Steve  -2.410901 -1.403288
Wes    -0.467855  0.218231
Jim    -0.112396 -1.474096
Travis  1.282529 -0.172294
            blue       red
Joe     1.067612  1.107137
Steve  -2.410901 -1.403288
Wes    -0.467855  0.218231
Jim    -0.112396 -1.474096
Travis  1.282529 -0.172294
          a         b         c         d         e
3 -1.142976  0.994247  2.638604 -0.606050 -1.545192
5 -0.938786 -0.464503 -1.158710 -1.014761 -0.237429
6  0.696597 -0.868891  1.974639 -0.620266 -0.071844

In [38]:
# Data Aggregation
# Aggregations refer to any data transformation that produces scalar values from arrays.
#count:  Number of non-NA values in the group
#sum: Sum of non-NA values
#mean: Mean of non-NA values
#median: Arithmetic median of non-NA values
#std, var: Unbiased (n – 1 denominator) standard deviation and variance
#min, max: Minimum and maximum of non-NA values
#prod: Product of non-NA values
#first, last: First and last non-NA values
#quantile: 

def peak_to_peak(arr):
    return arr.max() - arr.min()

group_ag = df2.groupby("key1")
peak_to_p = group_ag.agg(peak_to_peak)
print(peak_to_p)
group_ag.describe()

#Column Wise multiple function Application with function names

print(df7.head(10))
df7["tip_pct"] = df7['tip']/df7['total_bill']
print(df7.head(10))

grouped_ag = df7.groupby(['day', 'smoker'])
grouped_pct = grouped_ag["tip_pct"]

print(grouped_pct.agg('mean'))

# Finding multiple statistics of a given column of a data. It can also find statistics for all columns of data.
print(grouped_ag.agg(['mean','std',peak_to_peak]))

# Rename statistics head as you want
grouped_pct.agg([('foo', 'mean'), ('bar', np.std)])

# Example
grouped_stat_calc = grouped_ag.agg(['mean','std',peak_to_peak])
print(grouped_stat_calc['total_bill'])


# What if i want to calculate different statistics for different tracks
# We use dictionary for input where { column_name: function_to_be_applied}
grouped_ag.agg({'tip' : np.max, 'total_bill' : 'sum'})

# In case i want multiple statistcs for one column and some for other
grouped_ag.agg({'tip_pct' : ['min', 'max', 'mean', 'std'], 'size' : 'sum'})

# hierarchical Data removed
df7.groupby(['day', 'smoker'], as_index=False).mean()



# Sorting values by given column tip_pct
def top(df, n=5, column='tip_pct'):
    return df.sort_values(by=column)[:n]

top(df7, n = 5)

df7.groupby(['smoker', 'day']).apply(top, n=1, column='total_bill')

         data1     data2
key1
a     1.427306  0.925622
b     1.241225  1.487930
   total_bill   tip smoker  day    time  size   tip_pct
0       16.99  1.01     No  Sun  Dinner     2  0.059447
1       10.34  1.66     No  Sun  Dinner     3  0.160542
2       21.01  3.50     No  Sun  Dinner     3  0.166587
3       23.68  3.31     No  Sun  Dinner     2  0.139780
4       24.59  3.61     No  Sun  Dinner     4  0.146808
5       25.29  4.71     No  Sun  Dinner     4  0.186240
6        8.77  2.00     No  Sun  Dinner     2  0.228050
7       26.88  3.12     No  Sun  Dinner     4  0.116071
8       15.04  1.96     No  Sun  Dinner     2  0.130319
9       14.78  3.23     No  Sun  Dinner     2  0.218539
   total_bill   tip smoker  day    time  size   tip_pct
0       16.99  1.01     No  Sun  Dinner     2  0.059447
1       10.34  1.66     No  Sun  Dinner     3  0.160542
2       21.01  3.50     No  Sun  Dinner     3  0.166587
3       23.68  3.31     No  Sun  Dinner     2  0.139780
4       24.59  3.61     No  Sun  Dinner     4  0.146808
5       25.29  4.71     No  Sun  Dinner     4  0.186240
6        8.77  2.00     No  Sun  Dinner     2  0.228050
7       26.88  3.12     No  Sun  Dinner     4  0.116071
8       15.04  1.96     No  Sun  Dinner     2  0.130319
9       14.78  3.23     No  Sun  Dinner     2  0.218539
day   smoker
Fri   No        0.151650
      Yes       0.174783
Sat   No        0.158048
      Yes       0.147906
Sun   No        0.160113
      Yes       0.187250
Thur  No        0.160298
      Yes       0.163863
Name: tip_pct, dtype: float64
            total_bill                               tip            \
                  mean        std peak_to_peak      mean       std
day  smoker
Fri  No      18.420000   5.059282        10.29  2.812500  0.898494
     Yes     16.813333   9.086388        34.42  2.714000  1.077668
Sat  No      19.661778   8.939181        41.08  3.102889  1.642088
     Yes     21.276667  10.069138        47.74  2.875476  1.630580
Sun  No      20.506667   8.130189        39.40  3.167895  1.224785
     Yes     24.120000  10.442511        38.10  3.516842  1.261151
Thur No      17.113111   7.721728        33.68  2.673778  1.282964
     Yes     19.190588   8.355149        32.77  3.030000  1.113491

                              size                          tip_pct            \
            peak_to_peak      mean       std peak_to_peak      mean       std
day  smoker
Fri  No             2.00  2.250000  0.500000            1  0.151650  0.028123
     Yes            3.73  2.066667  0.593617            3  0.174783  0.051293
Sat  No             8.00  2.555556  0.784960            3  0.158048  0.039767
     Yes            9.00  2.476190  0.862161            4  0.147906  0.061375
Sun  No             4.99  2.929825  1.032674            4  0.160113  0.042347
     Yes            5.00  2.578947  0.901591            3  0.187250  0.154134
Thur No             5.45  2.488889  1.179796            5  0.160298  0.038774
     Yes            3.00  2.352941  0.701888            2  0.163863  0.039389


            peak_to_peak
day  smoker
Fri  No         0.067349
     Yes        0.159925
Sat  No         0.235193
     Yes        0.290095
Sun  No         0.193226
     Yes        0.644685
Thur No         0.193350
     Yes        0.151240
                  mean        std  peak_to_peak
day  smoker
Fri  No      18.420000   5.059282         10.29
     Yes     16.813333   9.086388         34.42
Sat  No      19.661778   8.939181         41.08
     Yes     21.276667  10.069138         47.74
Sun  No      20.506667   8.130189         39.40
     Yes     24.120000  10.442511         38.10
Thur No      17.113111   7.721728         33.68
     Yes     19.190588   8.355149         32.77

                 total_bill   tip smoker   day    time  size   tip_pct
smoker day
No     Fri  99        12.46  1.50     No   Fri  Dinner     2  0.120385
       Sat  111        7.25  1.00     No   Sat  Dinner     1  0.137931
       Sun  6          8.77  2.00     No   Sun  Dinner     2  0.228050
       Thur 149        7.51  2.00     No  Thur   Lunch     2  0.266312
Yes    Fri  92         5.75  1.00    Yes   Fri  Dinner     2  0.173913
       Sat  67         3.07  1.00    Yes   Sat  Dinner     1  0.325733
       Sun  172        7.25  5.15    Yes   Sun  Dinner     2  0.710345
       Thur 196       10.34  2.00    Yes  Thur   Lunch     2  0.193424

In [41]:
y = ["hello","world","kala","tra","faced","frqase"]
z = "Hellowe"
transform = lambda x: x[:4].upper()
for k in y:
    print(transform(k))
#print(transform(y))
#print(transform(z))

HELL
WORL
KALA
TRA
FACE
FRQA